<template>
  <div class="login" @keyup.enter="login">
    <div class="columns">
      <div class="column"></div>
      <div class="column">
        <div class="login-box">
          <div class="login-input input-box">
            <div class="control">
              <div><label>Login:</label></div>
              <input class="input is-primary" type="text" placeholder="Login" v-model="loginData">
            </div>
          </div>
          <div class="password-input input-box">
            <div class="control">
              <div><label>Password:</label></div>
              <input class="input is-primary" type="password" placeholder="Password" v-model="passwordData">
            </div>
          </div>
          <div class="confirm-box input-box">
            <button type="button" class="button is-primary login-button" @click="login">Log In</button>
          </div>
        </div>
      </div>
      <div class="column"></div>
    </div>
  </div>
</template>

<script>
  import {login} from '../../../api/services'
  export default {
    name: 'login-page',
    data () {
      return {
        loginData: '',
        passwordData: ''
      }
    },
    computed: {
      isAuthorized () {
          return this.$store.getters.isAuthorized;
      }
    },
    methods: {
      login () {
        login(this.$data.loginData, this.$data.passwordData)
          .then(r => {
              console.log(1);
              let jwtToken = r.data.token;
              localStorage.setItem('token', jwtToken);

              setTimeout(() => {
                this.$router.push('/');
                this.$store.commit('updateIsAuthorizedState', true);
                this.$store.commit('updateCurrentUser', this.$data.loginData);
              }, 1500);
          })
          .catch(e => {console.log(e)})
      }
    }
  }

</script>

<style lang="scss" scoped>
  .login {
    .input-box {
      margin-bottom: 25px;
      .control {
        text-align: center;
        input {
          width: 50%;
        }
      }
    }
    .confirm-box {
      text-align: center;
      button {
        width: 50%;
      }
    }
  }
</style>
