<template>
    <div class="modal-outer">
      <div class="modal-header">
        <h5 class="modal-title">Downloading Followings</h5>
      </div>
      <div class="modal-body">
        <label>Twitter Link
          <p><input type="text" v-model="twitterLink" required></p>
        </label>
      </div>
      <div class="modal-footer">
        <div class="modal-buttons">
          <div class="columns">
            <div class="column left-modal-button-section">
              <button type="submit" class="button is-primary" @click="downloadFollowings">Ok</button>
            </div>
            <div class="column right-modal-button-section">
              <button type="button" class="button is-danger" @click="this.$emit('close')">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
import {showNotification} from '../../../../utils/utils'
import download from 'downloadjs'

export default {
  props: ['name', 'action', ],
  data () {
    return {
      twitterLink: 'https://twitter.com/'
    }
  },
  methods: {
    downloadFollowings() {

      if (this.twitterLink !== 'https://twitter.com/') {
        this.$emit('close');
        this.$store.commit('runLoading');
        this.action(this.twitterLink)
          .then(response => {
            this.$store.commit('stopLoading');
            const content = response.headers['content-type'];

            if (response.status !== 404 && response.data.status !== 404) {
              download(response.data, `followings-${this.twitterLink}.txt`, content);
              showNotification(`Followings for ${this.twitterLink} have been found and will be downloaded`);
            } else {
              showNotification(response);
            }
          })
          .catch(error => {
            console.log(error)
          })
      }
    }
  }
}



</script>
