<template>
  <div class="modal-outer">
    <div class="modal-header">
      <h5 class="modal-title">Updating Mail Reporter Settings</h5>
    </div>
    <div class="modal-body">
      <div class="columns">
        <div class="column">
          <p>For Last (min)</p>
          <div class="select">
            <select v-model="updatedTimeOffset">
              <option value="15" :selected="timeOffset === 15">15</option>
              <option value="30" :selected="timeOffset === 30">30</option>
              <option value="45" :selected="timeOffset === 45">45</option>
              <option value="60" :selected="timeOffset === 60">60</option>
            </select>
          </div>
        </div>
        <div class="column">
          <p>Column to Use</p>
          <div class="select">
            <select v-model="updatedColumnToUse">
              <option value="rate_1" :selected="columnToUse === 'rate_1'">Rate 1</option>
              <option value="rate_2" :selected="columnToUse === 'rate_2'">Rate 2</option>
            </select>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <p>Frequency (min)</p>
          <div class="select">
            <select v-model="updatedFrequency">
              <option value="15" :selected="frequency === 15">15</option>
              <option value="30" :selected="frequency === 30">30</option>
              <option value="45" :selected="frequency === 45">45</option>
              <option value="60" :selected="frequency === 60">60</option>
            </select>
          </div>
        </div>
        <div class="column">
          <div class="control rate-value">
            <p>Rate >=</p>
            <input class="input is-primary" type="number" v-model="updatedRateLimit" required>
          </div>
        </div>
      </div>
      <div v-for="(email, index) in updatedEmailList" class="email-input-outer">
        <div class="email-input">
          <p>Email {{index + 1}}</p>
          <input class="input is-primary" type="text" placeholder="emailexample@gmail.com" v-model="email.email"
                 @keyup.enter="updateMailReporterSettings">
          <span class="email-input-icon has-text-danger" v-if="email.id" @click="removeEmailFromDb(email.id)">
            <i class="fas fa-ban"></i>
          </span>
        </div>
      </div>
      <div v-if="updatedEmailList.length === 0">
        <h6>Add Emails:</h6>
      </div>
      <div class="columns email-actions">
        <div class="column">
          <button class="button is-small is-info" @click="newEmail">+</button>
        </div>
        <div class="column is-narrow">
          <button class="button is-small is-danger" @click="removeEmailInput" v-if="updatedEmailList.length > 0, isLastEmailInputDoesNotExist">-</button>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="modal-buttons">
        <div class="columns">
          <div class="column left-modal-button-section">
            <button type="submit" class="button is-primary" @click="updateMailReporterSettings">Apply Settings</button>
          </div>
          <div class="column right-modal-button-section">
            <button type="button" class="button is-danger" @click="$emit('close')">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {showNotification} from '../../../../utils/utils'
import {destroyEmail} from '../../../../api/services'

export default {
  props: ['name', 'action', 'timeOffset', 'rateLimit', 'mailReporterId', 'emailList', 'columnToUse', 'frequency'],
  created () {
//    if (this.emailList.length === 0) {
//      this.$data.updatedEmailList.push({'email': ''})
//    } else {
      this.$data.updatedEmailList = this.emailList;
//    }
  },
  data () {
    return {
      updatedTimeOffset: this.timeOffset,
      updatedRateLimit: this.rateLimit,
      updatedEmailList: [],
      updatedColumnToUse: this.columnToUse,
      updatedFrequency: this.frequency,
    }
  },
  computed: {
    isLastEmailInputDoesNotExist(){
      if (this.$data.updatedEmailList.length > 0) {
        return this.$data.updatedEmailList[this.$data.updatedEmailList.length-1].id === undefined;
      } else {
        return false
      }

    }
  },
  methods: {
    updateMailReporterSettings() {
      this.$emit('close');
      this.$store.commit('runLoading');
      this.action(this.mailReporterId, this.$data.updatedTimeOffset, this.$data.updatedRateLimit,
        this.$data.updatedEmailList, this.$data.updatedColumnToUse, this.$data.updatedFrequency)
        .then(response => {
            this.$store.commit('stopLoading');
            showNotification(response);
        })
        .catch(error => {
            console.log(error)
        })
    },

    newEmail() {
      this.$data.updatedEmailList.push({'email': ''});
    },

    removeEmailInput() {
      if (this.$data.updatedEmailList[this.$data.updatedEmailList.length-1].id === undefined) {
        this.$data.updatedEmailList.pop();
      }
    },

    removeEmailFromDb(emailId) {
      if (emailId) {
        destroyEmail(emailId)
          .then(response => {
            if (this.$data.updatedEmailList.length > 1) {
              this.$data.updatedEmailList = this.$data.updatedEmailList.filter(email => email.id !== emailId);
            } else {
              this.$data.updatedEmailList = [];
            }

            showNotification(response);
          })
          .catch(error => {
          });
      }
    }
  },
}

</script>
<style lang="scss">
  .rate-value {
    width: 50%;
  }

  .email-actions {
    margin-top: 1px;
  }

  .email-input-outer {
    margin-top: 10px;

    .email-input {
    position: relative;

      .email-input-icon {
        position: absolute;
        top: 50%;
        right: 5%;
        z-index: 999;

        &:hover {
           cursor: pointer;
         }
      }
    }
  }

</style>
