<template>
    <div class="modal-outer">
      <div class="modal-header">
        <h5 class="modal-title">{{ title }}</h5>
      </div>
      <div class="modal-body">
        <label>{{ label }}
          <p><input type="text" v-model="objectName" @keyup.enter="createObject" required></p>
        </label>
      </div>
      <div class="modal-footer">
        <div class="modal-buttons">
          <div class="columns">
            <div class="column left-modal-button-section">
              <button type="submit" class="button is-primary" @click="createObject">Ok</button>
            </div>
            <div class="column right-modal-button-section">
              <button type="button" class="button is-danger" @click="$emit('close')" @keyup.esc.native="$emit('close')">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
import {showNotification} from '../../../../utils/utils'

export default {
  props: ['title', 'label', 'name', 'action', 'folderId'],
  data () {
    return {
      objectName: ''
    }
  },
  created () {
    if (this.name === 'create-handle-modal') {
      this.$data.objectName = 'https://twitter.com/';
    }
  },
  methods: {
      createObject () {
        let objectName = this.$data.objectName;
        let params = [];

        if (this.name === 'create-folder-modal') {
            params.push(objectName);
        }

        if (this.name === 'create-handle-modal') {
          params.push(objectName);
          params.push(this.folderId);
        }

        this.$emit('close');
        this.$store.commit('runLoading');

        this.action(...params)
          .then(response => {
            this.$store.commit('stopLoading');
            showNotification(response);
          })
          .catch(error => {
            showNotification(error);
          });
      }
  }
}



</script>
