<template>
    <div class="modal-outer">
      <div class="modal-header">
        <h5 class="modal-title">{{ title }}</h5>
      </div>
      <div class="modal-body">
        Do you really want to remove {{ objectName }} ?
      </div>
      <div class="modal-footer">
        <div class="modal-buttons">
          <div class="columns is-mobile">
            <div class="column left-modal-button-section">
              <button type="submit" class="button is-primary" @click="removeObject">Remove</button>
            </div>
            <div class="column right-modal-button-section">
              <button type="button" class="button is-danger" @click="$emit('close')">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
import {showNotification} from '../../../../utils/utils'

export default {
  props: ['title', 'objectId', 'objectName', 'action'],
  data () {
    return {}
  },
  methods: {
    removeObject() {
      let objectId = parseInt(this.objectId, 10);

      if (objectId) {
        this.$emit('close');
        this.$store.commit('runLoading');
        this.action(objectId)
        .then(response => {
          this.$store.commit('stopLoading');
          showNotification(response);
        })
      }
    },
  },
}



</script>
