<template>
  <div class="modal-outer">
    <div class="modal-header">
      <h5 class="modal-title">{{ title }} {{ objectName }} </h5>
    </div>
    <div class="modal-body">
      <label>Folder Name
        <p><input type="text" v-model="updatedName" required></p>
      </label>
    </div>
    <div class="modal-footer">
      <div class="modal-buttons">
        <div class="columns">
          <div class="column left-modal-button-section">
            <button type="submit" class="button is-primary" @click="updateObject">Update</button>
          </div>
          <div class="column right-modal-button-section">
            <button type="button" class="button is-danger" @click="$emit('close')">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {showNotification} from '../../../../utils/utils'

export default {
  props: ['name', 'action', 'title', 'objectName', 'objectId', 'folderId'],
  data () {
    return {
        updatedName: this.objectName,
    }
  },
  methods: {
    updateObject () {
      let objectId = this.objectId;
      let objectName = this.$data.updatedName;
      let params = [];

      if (this.name === 'update-folder-modal') {
        params.push(objectId);
        params.push(objectName);
      }

      if (this.name === 'update-handle-modal') {
        params.push(objectId);
        params.push(objectName);
        params.push(this.folderId);
      }

      if (objectName) {
        this.$emit('close');
        this.$store.commit('runLoading');
        this.action(...params)
          .then(response => {
            this.$store.commit('stopLoading');
            showNotification(response);
          })
      }
    },
  }
}

</script>
