<template>
  <div id="main-page">
    <div class="columns is-centered is-multiline">
      <div class="column is-narrow">
        <router-link to="/handles/folders/">
          <button class="button is-primary">Handles</button>
        </router-link>
      </div>
      <div class="column is-narrow">
        <button class="button is-primary is-static">Hashtags</button>
      </div>
      <div class="column is-narrow">
        <button class="button is-primary is-static">Follow/Unfollow</button>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'main-page',
  data () {
    return {
      msg: 'Welcome to main-page'
    }
  }
}
</script>

<style lang="scss">


</style>
