<template>
  <div id="navigation-bar">
    <div class="navigation-bar">
      <router-link to="/">
        <div class="navigation-bar-header nav-button navbar-el"></div>
      </router-link>
      <ul class="navbar-list">
        <router-link to="/handles/folders/">
          <li class="navbar-el">
            <i class="handles-icon nav-icon" title="Handles"></i>
          </li>
        </router-link>
        <li class="navbar-el">
          <i class="hashtags-icon nav-icon" title="Hashtags"></i>
        </li>
        <li class="navbar-el">
          <i class="followings-icon nav-icon" title="Follow/Unfollow"></i>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: 'navbar',
  data () {
    return {

    }
  }
}
</script>

<style lang="scss">
  .nav-icon {
    display: inline-flex;
    height: 30px;
    width: 30px;

    &:hover {
       cursor: pointer;
     }
  }

  .navbar-el {
    width: 100%;
    height: 50px;
    opacity: 0.7;
    transition: opacity .5s ease-out;

    &:hover {
       opacity: 1;
     }
  }

  .navigation-bar {
    position: fixed;
    background-color: #1a1c1d;
    padding: 0;
    box-sizing: border-box;
    width: 50px;
    height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;

    .navigation-bar-header {
      background: url('../../assets/navbar-burger.png') no-repeat 50%;
    }

    .navbar-list {
      margin: 15px 0;
    }
  }

  .nav-button {
    cursor: pointer;
    color: white;
  }

  .handles-icon {
    background: url('../../assets/handles.png') no-repeat 50% 50%;
    background-size: contain;
  }

  .hashtags-icon {
    background: url('../../assets/hashtag.png') no-repeat 50% 50%;
    background-size: contain;
  }

  .followings-icon {
    background: url('../../assets/following.png') no-repeat 50% 50%;
    background-size: contain;
  }
</style>
