<template>
  <div id="app">
    <navigation-bar></navigation-bar>
    <div class="content" v-if="!loadingState">
      <div>
        <div class="columns">
          <div class="column current-user-box"><h6 v-if="currentUser">You are logged in as {{ currentUser }}</h6></div>
          <div class="column logout-box">
            <button type="button" class="button is-danger is-small" @click="logout" v-if="isAuthorized">Logout</button>
          </div>
        </div>
      </div>
      <transition name="fade">
        <div class="notification" :class="notificationClass" v-if="notificationMessage">
          <span class="">{{ notificationMessage }}</span>
        </div>
      </transition>
      <div class="columns content-header">
        <div class="column">
          <div class="project-title">
            <span>INSIGHTS</span>
          </div>
        </div>
        <div class="column is-narrow">
          <button class="button is-primary is-small" @click="downloadFollowings" v-if="isAuthorized">Download Followings</button>
        </div>
      </div>

      <router-view/>
    </div>
    <div v-else>
      <loader></loader>
    </div>
    <modals-container/>
  </div>
</template>

<script>
import navigationBar from './components/common/Navbar.vue'
import Loader from './components/common/Loader.vue'
import {downloadFollowings} from './api/services'
import DownloadFollowingsModal from './components/sections/handles/modals/DownloadFollowingsModal.vue'

export default {
  name: 'app',
  components: {
      'navigation-bar': navigationBar,
      'loader': Loader,
  },
  data () {
    return {
    }
  },
  computed: {
    loadingState () {
      return this.$store.getters.loadingState;
    },
    notificationClass () {
        return this.$store.getters.notificationClass;
    },
    notificationMessage () {
        return this.$store.getters.notification;
    },
    currentUser () {
        return this.$store.getters.currentUser;
    },
    isAuthorized () {
        return this.$store.getters.isAuthorized;
    }
  },
  methods: {
    downloadFollowings() {
      this.$modal.show(DownloadFollowingsModal, {
            name: 'downloading-followings',
            action: downloadFollowings
        }, {
            height: 'auto',
            width: '450px'
        })
    },
    logout () {
        localStorage.setItem('token', null);
        this.$store.commit('updateCurrentUser', null);
        this.$store.commit('updateIsAuthorizedState', false);
        this.$router.push({name: 'login'});
    }
  }
}
</script>

<style lang="scss">
  .content {
    margin-left: 50px;
    padding: 15px;

    .logout-box {
      text-align: right
    }

    .content-header {
      border-bottom: 1px solid black;

      .project-title {
        span {
          font-size: 1.3em;
          font-weight: 600;
        }
      }
    }
  }

  .buttons-section {
    padding: 15px 0;
  }

  .table-action, .table-index {
    width: 1%;
  }

  .table-state {
    width: 10%;
  }

  .modal-outer {
    padding: 15px 25px 5px 25px;
    height: auto;
    width: auto;

    .modal-title {
      font-size: 1.2em;
      text-align: center;
    }

    .modal-body {
      input {
        background-color: none;
        border: 1px solid deepskyblue;
        line-height: 0;
        font-size: 17px;
        width: 100%;
        display: block;
        box-sizing: border-box;
        padding: 10px 15px;
        border-radius: 5px;
        color: #000000;
        font-weight: 100;
        letter-spacing: 0.01em;
        z-index: 1
      }
    }

    .modal-footer {
      bottom: 5%;
      margin: 25px auto;
    }
    .right-modal-button-section {
      text-align: right;
    }
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity .8s;
  }

  .fade-enter, .fade-leave-to {
    opacity: 0;
  }

  .navigation {
    .button {
      margin: 5px;
    }
  }

  .vdp-datepicker__calendar {
    top: 50%;
    right: 50%;
  }

  .sortable-col {
    &:hover {
      cursor: pointer;
     }

    font-weight: 600;
    text-decoration: underline;
  }

  .notification {
    position: fixed;
    bottom: 1%;
    right: 1%;
    z-index: 999;
  }

  .modal-header {
    margin-bottom: 5%;

    h5 {
      font-weight: 600;
      text-decoration: underline;
    }
  }

</style>
