<template>
  <div id="folder">
    <h5 v-if="folder">Managing handles in {{ folder.name }}</h5>
    <div class="handles-buttons buttons-section">
      <div class="handles-navigation navigation">
        <div class="columns">
          <div class="column">
            <div>
              <router-link to="/handles/folders/">
                <button class="button is-link is-small">Back to Folders</button>
              </router-link>
            </div>
            <div>
              <button class="button is-primary is-small" @click="createHandle(folder.id)">Add New Handle</button>
            </div>
            <div>
              <button class="button is-secondary is-small" @click="getInsightsForFolder">Get Insights For Folder</button>
              <button class="button is-warning is-small" @click="getMultipleInsights">Get Insights For Selected</button>
            </div>
          </div>
          <div class="column file-column">
            <div class="file is-boxed">
              <label class="file-label">
                <h6>Upload Handles</h6>
                <input type="file" id="file" ref="file" class="file-input" v-on:change="handleFileUpload()" required/>
                <span class="file-cta">
                  <span class="file-icon">
                    <i class="fas fa-upload"></i>
                  </span>
                  <span class="file-label" v-if="file">
                    Current file: <b>{{ file.name }}</b>
                  </span>
                  <span class="file-label" v-else>
                    Choose a file…
                  </span>
                </span>
                <button class="button is-primary is-small" @click="submitFile(folder.id)" type="submit">Upload</button>
              </label>
            </div>
          </div>
          <div class="column is-narrow">
            <label>End Date Time</label>
            <date-time-picker format="YYYY/MM/DD H:i:s" width="300px" v-model="dateTimeEnd"></date-time-picker>
            <label>Start Date Time</label>
            <date-time-picker format="YYYY/MM/DD H:i:s" width="300px" v-model="dateTimeStart"></date-time-picker>
            <div class="dt-refresher">
              <button class="button is-info is-small" @click="refreshDateTimePicker">Refresh Time</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="handles-table">
      <table class="table is-bordered">
        <thead>
          <tr>
            <th class="table-index">#</th>
            <th class="table-action"><input type="checkbox" v-model="selectAll"></th>
            <th>Handle Name</th>
            <th class="table-action">Open</th>
            <th class="table-action">Get Insights</th>
            <th class="table-action">Edit</th>
            <th class="table-action">Remove</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(handle, index) in folder.handles">
            <td>{{index + 1}}</td>
            <td><input type="checkbox" v-model="selected" :value="handle.id" number></td>
            <td>{{ handle.name }}</td>
            <td class="table-action">
              <a :href="handle.twitter_link" target="_blank">
                <button type="button" class="button is-info is-small">Open</button>
              </a>
            </td>
            <td><button class="button is-primary is-small" @click="getInsightsForHandle(handle.id)">Get Insights</button></td>
            <td><button class="button is-warning is-small" @click="updateHandle(handle.id, handle.twitter_link, handle.folder)">Edit</button></td>
            <td><button class="button is-danger is-small" @click="removeHandle(handle.id, handle.name)">Remove</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import {getFolder, createHandle, destroyHandle, updateHandle, getTweets, getHandles, uploadHandles} from '../../../api/services'
import {getNotificationClass, showNotification} from '../../../utils/utils'
import NewObject from './modals/NewObject.vue'
import RemoveObject from './modals/RemoveObject.vue'
import UpdateObject from './modals/UpdateObject.vue'
import DateTime from 'vuejs-datetimepicker'
import moment from 'moment'
import momentTz from 'moment-timezone'

export default {
  name: 'folder',
  components: {
    'date-time-picker': DateTime
  },
  computed: {
    selectAll: {
      get: function () {
          return this.folder.handles ? this.selected.length == this.folder.handles.length : false;
      },
      set: function (value) {
          let selected = [];

          if (value) {
              this.folder.handles.forEach(function (handle) {
                  selected.push(handle.id);
              });
          }

          this.selected = selected;
      }
    }
  },
  data () {
    return {
      folder: {},
      isLoading: false,
      file: '',
      dateTimeStart: moment().subtract(180, 'minutes').tz('Asia/Kolkata').format('YYYY/MM/DD, HH:mm:ss'),
      dateTimeEnd: moment().tz('Asia/Kolkata').format('YYYY/MM/DD, HH:mm:ss'),
      selected: []
    }
  },
  created () {
    let folderId = this.$route.params.id;

    getFolder (folderId)
      .then(response => {
        this.$data.folder = response.data;
      })
      .catch(error => {

      });
    },
  methods: {
    createHandle (folderId) {
        this.$modal.show(NewObject, {
            title: 'Add New Handle',
            label: 'Twitter Link',
            name: 'create-handle-modal',
            folderId: folderId,
            action: createHandle
        }, {
            height: 'auto',
            width: '450px'
        })
    },

    removeHandle (handleId, handleName) {
        this.$modal.show(RemoveObject, {
            title: 'Removing Handle',
            name: 'remove-handle-modal',
            action: destroyHandle,
            objectId: handleId,
            objectName: handleName
        }, {
            height: 'auto',
            width: '450px'
        })
    },

    updateHandle (handleId, twitterLink, folderId) {
      this.$modal.show(UpdateObject, {
          title: 'Updating Handle',
          name: 'update-handle-modal',
          action: updateHandle,
          objectId: handleId,
          folderId: folderId,
          objectName: twitterLink
      }, {
          height: 'auto',
          width: '450px'
      })
    },

    getInsightsForHandle (handleId) {
      this.$store.commit('runLoading');
      let dateTimeStart = this.$data.dateTimeStart;
      let dateTimeEnd = this.$data.dateTimeEnd;

      getTweets(handleId, dateTimeStart, dateTimeEnd)
        .then(response => {
            let tweets = response.data.payload;
            if (tweets) {
                console.log(tweets);
              this.$store.commit('fillCurrentInsightsList', tweets);
              this.$router.push(`/handles/folders/${this.$data.folder.id}/insights/`);
              this.$store.commit('stopLoading');
            }
        })
        .catch(error => {

        })
    },

    refreshDateTimePicker () {
        this.$data.dateTimeStart = moment().subtract(180, 'minutes').tz('Asia/Kolkata').format('YYYY/MM/DD, HH:mm:ss');
        this.$data.dateTimeEnd = moment().tz('Asia/Kolkata').format('YYYY/MM/DD, HH:mm:ss');
    },

    getMultipleInsights () {
      this.$store.commit('runLoading');
      let dateTimeStart = this.$data.dateTimeStart;
      let dateTimeEnd = this.$data.dateTimeEnd;
      let selectedIds = this.$data.selected;

      getTweets(selectedIds, dateTimeStart, dateTimeEnd)
        .then(response => {
          let tweets = response.data.payload;
          console.log(response);
          if (tweets) {
            console.log(tweets);
            this.$store.commit('fillCurrentInsightsList', tweets);
            this.$router.push({
              path: `/handles/folders/${this.$data.folder.id}/insights/`, params: {
                folderId: this.$data.folder.id
              }
            });
            this.$store.commit('stopLoading');
          }
        })
        .catch(error => {

        })
    },

    getInsightsForFolder() {
        this.$store.commit('runLoading');
        let handleIds = [];

        for (let handle of this.$data.folder.handles) {
          handleIds.push(handle.id);
        }

        let dateTimeStart = this.$data.dateTimeStart;
        let dateTimeEnd = this.$data.dateTimeEnd;

        getTweets(handleIds, dateTimeStart, dateTimeEnd)
        .then(response => {
          let tweets = response.data.payload;
          if (tweets) {
            this.$store.commit('fillCurrentInsightsList', tweets);
            this.$router.push({
              path: `/handles/folders/${this.$data.folder.id}/insights/`, params: {
                folderId: this.$data.folder.id
              }
            });
            this.$store.commit('stopLoading');
          }
        })
        .catch(error => {

        })
    },

    handleFileUpload () {
      this.file = this.$refs.file.files[0];
    },

    submitFile (folderId) {
      let file = this.file;

      if (file) {
        this.$store.commit('runLoading');
        uploadHandles(folderId, file)
          .then(response => {
            this.$store.commit('stopLoading');
            showNotification(response)
          })
          .catch(error => {
            console.log(error)
          })
      }
    },

  }
}
</script>

<style lang="scss">
  table {
    th {
      background: #92d4ea;
    }
  }

  .dt-refresher {
    float: right;
  }

  .file-column {
    text-align: center;
  }


</style>
