<template>
  <div id="folders">
    <div class="folders-inner">
      <div class="folders-buttons buttons-section">
        <div class="folders-navigation">
          <button class="button is-primary is-small" @click="createFolder">Add New Folder</button>
        </div>
      </div>
      <div class="folders-table">
        <table class="table is-bordered">
          <thead>
            <tr>
              <th class="table-index">#</th>
              <th>Folder Name</th>
              <th>Mail Reporter</th>
              <th class="table-state">Email Enabled</th>
              <th class="table-action">Open</th>
              <th class="table-action">Edit</th>
              <th class="table-action">Remove</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(folder, index) in currentFolderList">
              <td>{{ index + 1}}</td>
              <td>
                <router-link :to="'/handles/folders/' + folder.id" :folderId="folder.id">{{ folder.name }}</router-link>
              </td>
              <td class="table-action">
                <button class="button is-small is-info" :class="{'is-static': !folder.email_notifications}"
                @click="configureMailReporter(folder.mail_reporter)">Settings</button>
              </td>
              <td>
                  <label class="switch"
                  :class="{ 'checkbox-enabled': folder.email_notifications, 'checkbox-disabled': !folder.email_notifications }">
                    <input type="checkbox" :checked="folder.email_notifications == true"
                  @click="changeEmailReporterState(folder)"/>
                    <div></div>
                  </label>
              </td>
              <td>
                <router-link :to="{ name: 'specificFolder', params: {id: folder.id} }">
                  <button class="button is-info is-small">
                    Open
                  </button>
                </router-link>
              </td>
              <td><button class="button is-warning is-small" @click="updateFolder(folder.id, folder.name)">Edit</button></td>
              <td><button class="button is-danger is-small" @click="removeFolder(folder.id, folder.name)">Remove</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>

import NewObject from './modals/NewObject.vue'
import UpdateObject from './modals/UpdateObject.vue'
import RemoveObject from './modals/RemoveObject.vue'
import MailReportSettings from './modals/MailReportSettings.vue'
import {getFolders, createFolder, destroyFolder, updateFolder, updateFolderEmailReporterState, updateMailReporter} from '../../../api/services'

export default {
  name: 'folders',
  computed: {
    currentFolderList () {
      return this.$store.getters.currentFolderListState;
    }
  },
  data () {
    return {
      newFolderName: '',
    }
  },
  created () {
    getFolders ()
      .then(response => {
        let folders = response.data;
        this.$store.commit('fillCurrentFolderList', folders);
      })
      .catch(error => {console.log(error)});
  },
  methods: {
    createFolder (folder) {
        this.$modal.show(NewObject, {
            title: 'Add New Folder',
            label: 'Folder Name',
            name: 'create-folder-modal',
            action: createFolder
        }, {
            height: 'auto',
            width: '450px'
        })
    },

    removeFolder (folderId, folderName) {
        this.$modal.show(RemoveObject, {
            title: 'Removing Folder',
            name: 'remove-folder-modal',
            action: destroyFolder,
            objectId: folderId,
            objectName: folderName
        }, {
            height: 'auto',
            width: '450px'
        })
    },

    updateFolder (folderId, folderName) {
        this.$modal.show(UpdateObject, {
            title: 'Updating Folder',
            name: 'update-folder-modal',
            objectName: folderName,
            objectId: folderId,
            action: updateFolder
        }, {
            height: 'auto',
            width: '450px'
        })
    },

    changeEmailReporterState(folder) {
        let folderId = folder.id;
        let currentState = folder.email_notifications;

        if (folderId) {
          updateFolderEmailReporterState(folderId, !currentState)
            .then(response => {
              folder.email_notifications = response.data.payload.email_notifications;
            })
            .catch(error => {
                console.log(error)
            })
        }
    },

    configureMailReporter(mailReporter) {
      this.$modal.show(MailReportSettings, {
            timeOffset: mailReporter.time_offset,
            rateLimit: mailReporter.rate_limit,
            mailReporterId: mailReporter.id,
            emailList: mailReporter.emails_to_report,
            columnToUse: mailReporter.column_to_use,
            frequency: mailReporter.frequency,
            action: updateMailReporter
        }, {
            height: 'auto',
            width: '450px'
        })
    }
  }
}
</script>

<style lang="scss">
  table {
    th {
      background: #92d4ea;
    }
  }


.switch input {
  position: absolute;
  opacity: 0;
}

.switch {
  display: inline-block;
  font-size: 20px; /* 1 */
  height: 1em;
  width: 2em;
  border-radius: 1em;

  &:hover {
    cursor: pointer;
   }
}

.switch div {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: #FFF;
  box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3);
  -webkit-transition: all 300ms;
     -moz-transition: all 300ms;
          transition: all 300ms;
}

.switch input:checked + div {
  -webkit-transform: translate3d(100%, 0, 0);
     -moz-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
  background: #ffffff;
}

  .checkbox-enabled {
    background: #46bd34;
  }

  .checkbox-disabled {
    background: grey;
  }



</style>
