<template>
  <div id="insights">
    <h5>Insights</h5>
    <div class="insights-buttons buttons-section">
      <div class="insights-navigation navigation">
        <div class="columns">
          <div class="column">
            <div>
              <router-link :to="'/handles/folders/' + folderId">
                <button class="button is-link is-small">Back to Folder</button>
              </router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="insights-table">
      <table class="table is-bordered">
        <thead>
          <tr>
            <th class="table-index">#</th>
            <th>Thumbnail</th>
            <th>Open</th>
            <th @click="sortByColumn('tweet_type')" class="sortable-col">Type</th>
            <th @click="sortByColumn('tweet_text')" class="sortable-col">Tweet</th>
            <th @click="sortByColumn('created_time_ist')" class="sortable-col">Created Time (IST)</th>
            <th @click="sortByColumn('twitter_handle')" class="sortable-col">Handle</th>
            <th @click="sortByColumn('rate_1')" class="sortable-col">Rate1</th>
            <th @click="sortByColumn('rate_2')" class="sortable-col">Rate2</th>
            <th @click="sortByColumn('ttl')" class="sortable-col">TTL</th>
            <th @click="sortByColumn('reply_count')" class="sortable-col">Replies</th>
            <th @click="sortByColumn('retweets_count')" class="sortable-col">Retweets</th>
            <th @click="sortByColumn('likes_count')" class="sortable-col">Likes</th>
            <th @click="sortByColumn('total_reactions')" class="sortable-col">Total Reactions</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(tweet, index) in sortedInsights">
            <td>{{ index + 1 }}</td>
            <td>{{ tweet.thumbnail }}</td>
            <td>
              <a :href="tweet.url"
                 target="_blank">
                <button class="button is-link is-small">Open</button>
              </a>
            </td>
            <td>{{ tweet.tweet_type }}</td>
            <td>{{ tweet.tweet_text}}</td>
            <td>{{ tweet.created_time_ist}}</td>
            <td>{{ tweet.twitter_handle}}</td>
            <td>{{ tweet.rate_1 }}</td>
            <td>{{ tweet.rate_2 }}</td>
            <td>{{ tweet.ttl }}</td>
            <td>{{ tweet.reply_count }}</td>
            <td>{{ tweet.retweets_count }}</td>
            <td>{{ tweet.likes_count }}</td>
            <td>{{ tweet.total_reactions }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  name: 'insights',
  data () {
    return {
      tweets: [],
      folderId: '',
      sortColumn: '',
      sortType: 'DESC'
    }
  },
  beforeMount () {
    this.$data.tweets = this.$store.getters.currentInsightsList;
    this.$data.folderId = this.$route.params.id;
  },
  computed: {
    sortedInsights () {
      let tweets = this.$data.tweets;
      let column = this.$data.sortColumn;
      let sortType = this.$data.sortType;

      return tweets.sort(function (a, b) {
        if (sortType === 'ASC') {
          if (a[column] > b[column]) {
            return -1
          }

        } else {
          if (a[column] < b[column]) {
            return -1
          }
        }
      })
    },
  },
  methods: {
    sortByColumn(column) {
      this.$data.sortColumn = column;

      if (this.$data.sortType === 'DESC') {
          this.$data.sortType = 'ASC'
      } else {
          this.$data.sortType = 'DESC';
      }

    }
  }
}
</script>

<style lang="scss">
  table {
    th {
      background: #92d4ea;
    }

    tbody {
      font-size: 0.91em;
    }
  }


</style>
